.contact-form-head {
  font-size: 1.5em;
}

.input-group {
  margin-bottom: 2vh;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.input-group input[type="text"],
.input-group input[type="email"] {
  width: 100%;
  padding: 1em;
  border: none;
  /* border-radius: 4px; */
  font-size: .75em;
}

button {
    padding: 1em 1.5em 1em 1.5em;
    /* margin: 1vh 0 0 0; */
    background-color: #6495ed;
    color: #fff;
    border: none;
    /* border-radius: 4px; */
    font-size: .75em;
    cursor: pointer;
}
/* Style for the message output */
.formMessage {
    color: #6495ed;
}
