.App {
  min-width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.header {
  font-size: 1.75em;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .App-header {
    margin: 3em 0em 5em 0;
  }
}
.halfContainer {
  flex-direction: column;
  align-items: stretch;
  /* justify-content: space-around; */
  flex: 1;
  min-width: 400px;
  max-width: 30vw;
  overflow: hidden;
}
@media (max-width: 768px) {
  .halfContainer {
    margin-bottom: 2em;
  }
}
/* puts space between containers */
@media (min-width: 768px) {
  .halfContainer {
    margin: 0 1em 0 1em;
  }
}


