body {
  margin: 0;
  /* min-width: 100%; */
  padding: 0vh 15vh 0 15vh;
  color: #4d4a4f;
  background-color: #f0f0f0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* best font match i found seemed to te the defalult. bfowed on font finder as well as font-squirrel */

  /* font-family: "MyWebFont", -apple-system, BlinkMacSystemFont, "Segoe UI", */
    /* "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", */
    /* "Helvetica Neue", sans-serif; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}


/* original code from my-app doesnt seem to do anything here */
/* code { */
  /* font-family: 'Courier New', Courier, monospace; */
/* } */

/* info from font finder formatted similarly also didnt seem to do anything */
/* code { */
  /* font-family: "MyWebFont", -apple-system, BlinkMacSystemFont, "Segoe UI", */
  /* "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", */
  /* "Helvetica Neue", sans-serif; */
/* -webkit-font-smoothing: antialiased; */
/* -moz-osx-font-smoothing: grayscale; */
/* } */
